.App {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.DarkApp{
  background-color: #141D2F;
}

.LightApp{
  background-color: #F6F8FF;

}

#InnerWrapper{
  text-align: center;
  display: flex;
  width: 50%;
  height: 70%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* background-color: #1E2A47 */
  ;
}
#HeaderWithSearch{
  
  width: 100%;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

@media (max-width : 800px) {
    #InnerWrapper{
      width: 90%;
      height: 100%;
      justify-content: start;
    }
    #HeaderWithSearch{
      flex-basis: 23%;
      justify-content: space-around;
    }
}
