
@font-face {
  font-family: "SpaceMonoBold";   /*Can be any text*/
  src: local("SpaceMono-Bold"),
    url("./fonts/SpaceMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceMonoRegular";   /*Can be any text*/
  src: local("SpaceMono-Regular"),
    url("./fonts/SpaceMono-Regular.ttf") format("truetype");
}

body {
  font-family: "SpaceMonoBold";
  margin: 0;
}

